* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 50px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.section_one {
  background-image: url("/images/foresthome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
}

.the-bar {
  width: 100%;
  height: 30px;
  background-color: white;
}

.banner_title {
  text-align: center;
  color: #fff;
  font-size: 48px;
}

.section_two {
  display: flex;
  width: 100%;
  height: 500px;
  background-color: aqua;
  color: #fff;
}

.box_one {
  width: 25%;
  height: 500px;
  background-image: url("/images/mission.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box_two {
  width: 75%;
  height: 500px;
  background-color: grey;
}

.mission_text {
  font-size: 18px;
}

.section_three {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 500px;
  background-color: grey;
}

.content_box {
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 400px;
  width: 400px;
  background-color: white;
}

.content-image {
  background-image: url("/images/summer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  margin: auto;
  height: 300px;
  width: 300px;
}

.content-image2 {
  background-image: url("/images/fall.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  margin: auto;
  height: 300px;
  width: 300px;
}

.content-image3 {
  background-image: url("/images/winter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  margin: auto;
  height: 300px;
  width: 300px;
}

.section_four {
  width: 100%;
  height: 500px;
  background-color: grey;
  color: #fff;
}

.content-four {
  background-color: darkgrey;
  margin: auto;
  width: 600px;
  height: 500px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.contentFourText {
  text-align: center;
}

footer {
  height: 50px;
  width: 100%;
  background-color: black;
}

.explore-one-banner {
  background-image: url("/images/foresthome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
}

.explore_title {
  text-align: center;
  color: #fff;
  font-size: 48px;
}

.explore-one-section-1 {
  width: 100%;
  height: 500px;
  background-color: brown;
  display: flex;
}

.e-box1-section-1 {
  width: 75%;
  height: 500px;
  background-color: grey;
}

.e-box2-section-1 {
  width: 25%;
  height: 500px;
  background-image: url("../images/summer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.explore-two-section-2 {
  width: 100%;
  height: 500px;
  background-color: brown;
  display: flex;
}

.e-box2-section-2 {
  width: 75%;
  height: 500px;
  background-color: grey;
}

.e-box1-section-2 {
  width: 25%;
  height: 500px;
  background-image: url("../images/fall.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.e-box2-section-3 {
  width: 75%;
  height: 500px;
  background-color: grey;
}

.e-box1-section-3 {
  width: 25%;
  height: 500px;
  background-image: url("../images/winter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bar-divider {
  width: 100%;
  height: 20px;
  background-color: white;
}

.e-box2-section-4 {
  width: 75%;
  height: 500px;
  background-color: grey;
}

.e-box1-section-4 {
  width: 25%;
  height: 500px;
  background-image: url("../images/spring.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-div {
  text-align: center;
  color: #fff;
}

.thing-box-1 {
  width: 100%;
  height: 500px;
  background-color: grey;
}

.thing-box-2 {
  width: 100%;
  height: 500px;
  background-color: grey;
}

.thing-box-3 {
  width: 100%;
  height: 500px;
  background-color: grey;
}

.thing-box-4 {
  width: 100%;
  height: 500px;
  background-color: grey;
}

.thing-content {
  text-align: center;
  color: white;
}

.the-bar {
  width: 100%;
  height: 30px;
  background-color: white;
}

.personbox1 {
  width: 100%;
  height: 500px;
  background-color: blue;
  display: flex;
}

.the-person1 {
  width: 25%;
  height: 500px;
  background-image: url("../images/man1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.the-person-text1 {
  width: 75%;
  height: 500px;
  background-color: grey;
  color: white;
}

.personbox2 {
  width: 100%;
  height: 500px;
  background-color: blue;
  display: flex;
}

.the-person2 {
  width: 25%;
  height: 500px;
  background-image: url("../images/man2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.the-person-text2 {
  width: 75%;
  height: 500px;
  background-color: grey;
  color: white;
}

.personbox3 {
  width: 100%;
  height: 500px;
  background-color: blue;
  display: flex;
}

.the-person3 {
  width: 25%;
  height: 500px;
  background-image: url("../images/woman1.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.the-person-text3 {
  width: 75%;
  height: 500px;
  background-color: grey;
  color: white;
}

.personbox4 {
  width: 100%;
  height: 500px;
  background-color: blue;
  display: flex;
}

.the-person4 {
  width: 25%;
  height: 500px;
  background-image: url("../images/woman2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.the-person-text4 {
  width: 75%;
  height: 500px;
  background-color: grey;
  color: white;
}

.the-bar {
  width: 100%;
  height: 30px;
  background-color: white;
}
