.thing-box-1 {
  width: 100%;
  height: 500px;
  background-color: grey;
}

.thing-box-2 {
  width: 100%;
  height: 500px;
  background-color: grey;
}

.thing-box-3 {
  width: 100%;
  height: 500px;
  background-color: grey;
}

.thing-box-4 {
  width: 100%;
  height: 500px;
  background-color: grey;
}

.thing-content {
  text-align: center;
  color: white;
}

.the-bar {
  width: 100%;
  height: 30px;
  background-color: white;
}
